
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Format2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<div class="jumbotron text-center">
  <h1>My First Site Page Format2  </h1>
  <p>Correzione  valore  del libro </p>
   
</div>





<form action="http://127.0.0.1:5000/form/corrlibro"   method="POST" name="myForm">
        <p><label for="autore">Autore:</label>
        <input type="text" name="autore" id="autore"  value={{ value3 }}   ></p>

        <p><label for="titolo">Titolo:</label>
        <input type="text" name="titolo" id="titolo"   value={{ value2 }}   ></p>

        <input value="Submit" type="submit">
    </form>

    <div>
        <h2>Questa e' la testata</h2>

    </div>


{% block content %}
  {% for post2 in value5 %}
    <article class="post">
      <header>
        <div>
          <div class="about">{{ post2['id'] }}</div>
          <div class="about">{{ post2['title'] }}</div>
          <div class="about">{{ post2['autor'] }}</div>
          <a class="action" href="{{ url_for('altri.update', id=post2['id']) }}">Edit</a>
        </div>

  {% endfor %}
{% endblock %}










</body>
</html>